<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="edit-container">
        <h2>Edit your post</h2>
        <p>Post id: <%= post.id %>
        </p>
        <p>Post.username: @<%=post.username %>
        </p>
        <div class="form-container">
            <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
                <textarea name="content" id="content" cols="60" rows="8"><%= post.content %></textarea> <br><br>
                <button>Submit</button>
            </form>
        </div>
    </div>
</body>

</html>