<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="new-container">
        <h2>Create new Post here</h2>
        <div class="newform-container">
            <form action="/posts" method="post">
                <input type="text" placeholder="Enter username" name="username"><br><br>
                <textarea name="content" id="textArea" cols="40" rows="10"
                    placeholder="write your post"></textarea><br><br>
                <button type="submit">Submit post</button>
            </form>
        </div>
    </div>
</body>

</html>